version: 2.1
jobs:
  # create_infrastructure: 
  #     docker:
  #       - image: amazon/aws-cli
  #     steps:
  #       - checkout
  #       - run:
  #           name: Create Cloudformation Stack
  #           command: |
  #             aws cloudformation deploy \
  #               --template-file template.yml \
  #               --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
  #               --region us-east-1  
# Exercise: Config and Deployment
 configure_infrastructure: 
   docker:
     - image: python:3.7-alpine3.11
   steps:
     - checkout
     - add_ssh_keys:
             # You can get this ID in the section where you registered the SSH Key
             fingerprints: ["93:73:1d:fe:9e:ad:a3:0b:fd:70:fb:62:47:03:00:a7"] 
     - run:
         name: Install Ansible
         command: |
              apk add --update ansible
     - run:
         name: Run Playbook and Configure server
         command: |
             ansible-playbook main1.yml -i inventory.txt                
workflows:
  configure_infrastructure-workflow:
    jobs:
      - configure_infrastructure


